[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
	ignore = dirty

[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = ../../Valloric/YouCompleteMe.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = ../../scrooloose/nerdtree.git
